@model WebDiary.ViewModels.CreateLessonsModel

@{
    ViewBag.Title = "Создание группы";
}

<h3>Добавление занятий</h3>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr/>
        <div class="form-group">
            <span class="control-label col-md-2">Создание расписания занятий для предмета @Model.CourseTitle</span>
        </div>

        @Html.HiddenFor(model => model.CourseId)
        @Html.HiddenFor(model => model.CourseTitle)
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <table class="table">
            <tr>
                <th>
                    День недели
                </th>
                <th>
                    Номер пары
                </th>
                <th>
                    Количество пар
                </th>
                <th>
                    Номер здания
                </th>
                <th>
                    Номер аудитории
                </th>
            </tr>

            @for (var i = 0; i < Model.SettingsByDay.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => Model.SettingsByDay[i].DayName)
                        @Html.HiddenFor(model => Model.SettingsByDay[i].DayNumber)
                        @Html.HiddenFor(model => Model.SettingsByDay[i].DayName)
                    </td>
                    <td>
                        <div class="form-group" style="margin-bottom: 0px">
                            <div >
                                @Html.EditorFor(model => Model.SettingsByDay[i].LessonDayNumber, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => Model.SettingsByDay[i].LessonDayNumber, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" style="margin-bottom: 0px">
                            <div >
                                @Html.EditorFor(model => Model.SettingsByDay[i].LessonCount, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => Model.SettingsByDay[i].LessonCount, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" style="margin-bottom: 0px">
                            <div >
                                @Html.EditorFor(model => Model.SettingsByDay[i].BuildNumber, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => Model.SettingsByDay[i].BuildNumber, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group" style="margin-bottom: 0px">
                            <div >
                                @Html.EditorFor(model => Model.SettingsByDay[i].ClassroomNumber, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => Model.SettingsByDay[i].ClassroomNumber, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </td>

                </tr>
            }

        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-primary mt-md-5"/>
            </div>
        </div>
    </div>
}